html
 lang(doctype='en')
  head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='SCIAC Portal dashboard')
   meta(name='author', content='Michael Frain')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
   link(rel='stylesheet', href='./stylesheets/boilerplate.css')
   link(rel='stylesheet', href='./stylesheets/addgame.css')
  body
   nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
     .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar
      a.navbar-brand(href='#') SCIAC Dashboard
     #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
       li
        a(href='/home') Dashboard
       li
        a(href='#') Settings
       li
        a(href='#') Profile
       li
        a(href='#') Help
      form.navbar-form.navbar-right
       input.form-control(type='text', placeholder='Search...')
   .container-fluid
    .row
     .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
       li
        a(href='/home') Overview
       li
        a(href='/addmember') Add new member
       li
        a(href='/editmembers') Edit current members
      ul.nav.nav-sidebar
       li
        a(href='/addgame') Add games to schedule
       li
        a(href='#') View your schedule
       li
        a(href='/leagueschedule') View league schedule
      ul.nav.nav-sidebar
       li
        a(href='/addteam') Add team to database
   .container
    form.form-addgame(action='api/addteam', method='post')
     h2.form-addgame-heading Add new team
     label.sr-only(for='inputTeamName') Team name
     input#inputTeamName.form-control(type='text', placeholder='Team name', name='name', required='', autofocus='')
     label.sr-only(for='inputLatitude') Latitude
     input#inputLatitude.form-control(type='text', placeholder='Stadium Latitude', name='lat', required='')
     label.sr-only(for='inputLongitude') Longitude
     input#inputLongitude.form-control(type='text', placeholder='Stadium Longitude', name='lon', required='')
     label.sr-only(for='inputStadiumName') Stadium Name
     input#inputStadiumName.form-control(type='text', placeholder='Stadium Name', name='stadiumName', required='')
     button.btn.btn-lg.btn-primary.btn-block(type='submit') Add team
     script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
     script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
     script(src='./js/editmembers.js')