html
 lang(doctype='en')
  head
   meta(charset='utf-8')
   meta(http-equiv='X-UA-Compatible', content='IE=edge')
   meta(name='viewport', content='width=device-width, initial-scale=1')
   meta(name='description', content='SCIAC Portal dashboard')
   meta(name='author', content='Michael Frain')
   link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
   link(rel='stylesheet', href='./stylesheets/boilerplate.css')
   link(rel='stylesheet', href='./stylesheets/editmembers.css')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
   script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
   script(src='./js/editmembers.js')
   script(src='./js/selection.js')
  body
   nav.navbar.navbar-inverse.navbar-fixed-top
    .container-fluid
     .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
       span.sr-only Toggle navigation
       span.icon-bar
       span.icon-bar
       span.icon-bar
      a.navbar-brand(href='#') SCIAC Dashboard
     #navbar.navbar-collapse.collapse
      ul.nav.navbar-nav.navbar-right
       li
        a(href='/home') Dashboard
       li
        a(href='#') Settings
       li
        a(href='#') Profile
       li
        a(href='#') Help
      form.navbar-form.navbar-right
       input.form-control(type='text', placeholder='Search...')
   .container-fluid
    .row
     .col-sm-3.col-md-2.sidebar
      ul.nav.nav-sidebar
       li
        a(href='/home') Overview
       li
        a(href='/addmember') Add new member
       li
        a(href='/editmembers') Edit current members
      ul.nav.nav-sidebar
       li
        a(href='/addgame') Add games to schedule
       li
        a(href='#') View your schedule
       li
        a(href='#') View league schedule  
   .container
    h2 Select a member to edit
    form.form-editmembers() 
     select.form-control(name='Member type' id='members')
      option(value='0') Select member to edit
    form.form-editmembers-hidden(method='put' id='editmember')
     label.sr-only(for='inputFirstName') First name
     input#inputFirstName.form-control(type='text', placeholder='First name', name='firstName', required='', autofocus='')
     label.sr-only(for='inputLastName') Last name
     input#inputLastName.form-control(type='text', placeholder='Last name', name='lastName', required='')
     label.sr-only(for='inputEmail') Email address
     input#inputEmail.form-control(type='email', placeholder='Email address', name='username', required='')
     select.form-control(name='role', id='roleEdit')
      option(value=1) Admin
      option(value=2) Crew chief
      option(value=3) Official
      option(value=0) Guest
     button.btn.btn-lg.btn-primary.btn-block(type='submit') Confirm changes